@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
body {
  background-color: white;
  color: Black;
  font-family: "Merriweather", serif;
  margin: center;
}
.imgJC {
  display: block;
  margin: auto;
  width: 300px;
}
#Para {
  font-family: "Merriweather", serif; 
  
}
